:root {
    --red-text: rgb(255,0,0);
    --red-background: rgb(255,192,192);
    --green-text: rgb(32,192,32);
    --green-background: rgb(192,255,192);
    
    --background-color: rgb(255,255,255);
    --text-color: rgb(0,0,0);

    --soft-seperation: rgb(224,224,224);
    --hard-seperation: rgb(128,128,128);
}

html, body {
    font-family: 'Poppins';
    background-color: var(--background-color);
    color: var(--text-color);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.side_bar {
    position: fixed;
    width: 25%;
    height: 100%;
    left: 0;
    background-color: var(--background-color);
    border-right: 1px solid var(--hard-seperation);
    color: var(--text-color);
    font-weight: 600;
}

.widget {
    position: relative;
    width: 100%;
    height: 4%;
}

.widget:hover {
    background-color: var(--text-color);
    color: var(--background-color);
}

.dashboard {
    position: absolute;
    height: 100%;
    width: 73%;
    left: 25%;
    margin: 1%;
}

.allocation_div {
    width: 100%;
}

.doughnut {
    position: absolute;
    width: 50%;
    left: 0;
}

.allocation_table {
    position: absolute;
    width: 50%;
    right: 0;
}

.total_numbers {
    font-size: 3em;
    font-weight: 600;
}

.positive_performance {
    right: 0;
    font-weight: 500;
    font-size: 0.5em;
    background-color: var(--green-background);
    color: var(--green-text);
    padding: 0.15em;
    border-radius: 0.25em;
}

.negative_performance {
    right: 0;
    font-weight: 500;
    font-size: 0.5em;
    background-color: var(--red-background);
    color: var(--red-text);
    padding: 0.15em;
    border-radius: 0.25em;
}

.positive_gain {
    background-color: var(--green-background);
    color: var(--green-text);
    display: inline-block;
    padding: 0.15em;
    border-radius: 0.2em;
}

.negative_gain {
    background-color: var(--red-background);
    color: var(--red-text);
    display: inline-block;
    padding: 0.15em;
    border-radius: 0.25em;
}

.chart_button {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 0;
    font-size: 1em;
    font-weight: 600;
    height: 2em;
    width: 3em;
    border-radius: 0.5em;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.chart_button:hover {
    background-color: var(--text-color);
    color: var(--background-color);
}

table {
    width: 100%;
    margin-top: 5%;
}

th, td {
    border-bottom: 1px solid var(--soft-seperation);
    padding: 1em;
    text-align: left;
    font-weight: 600;
}

th {
    color: var(--hard-seperation);
}

a {
    text-decoration: none;
}

.add {
    width: 2em;
    height: 2em;
    font-size: 2em;
    text-align: center;
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: var(--background-color);
    color: var(--text-color);
    border: 0.05em solid var(--text-color);
    border-radius: 1.05em;
}
.add:hover {
    background-color: var(--text-color);
    color: var(--background-color);
    border: 0;
    border-radius: 1em;
    margin-bottom: 1.1em;
}