<!DOCTYPE html>
<html>
<head>
    <title>MVW - Add Asset</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link href="/static/stylesheets/add_asset.css" rel="stylesheet">
</head>
<body>
    <div class="side_bar">
        <div class="widget">Home</div>
        <div class="widget">Profile</div>
        <div class="widget">Sign Out</div>
    </div>
    <div class="site">
        <div class="container">
            <form action="/add_asset" method="post">
                <div class="element">
                    <label>Coin</label>
                    <label class="right"><input type="text" name="coin" list="coins"></label>
                </div>
                <div id="coin_message" class="error"></div>
                <div class="element">
                    <label>Amount</label>
                    <label class="right"><input type="number" name="amount"></label>
                </div>
                <div id="amount_message" class="error"></div>
                <div class="element">
                    <label>Date</label>
                    <label class="right"><input type="text" name="date"></label>
                </div>
                <div id="date_message" class="error"></div>
                <div align="center">
                    <button class="add" type="submit">+</button>
                </div>
            </form>
        </div>
    </div>
</body>
<datalist id="coins">
    {% for i in coins %}
    <option value="{{ i }}"></option>
    {% endfor %}
</datalist>
<script>
    const coins = JSON.parse('{{ coins | tojson | safe }}');
    const messages = JSON.parse('{{ messages | tojson | safe }}');

    console.log(messages)

    document.getElementById("coin_message").innerHTML = messages.coin;
    document.getElementById("amount_message").innerHTML = messages.amount;
    document.getElementById("date_message").innerHTML = messages.date;
</script>
</html>