<!DOCTYPE html>
<html>
<head>
    <title>MVW - Connection Error</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link href="/static/stylesheets/error.css" rel="stylesheet">
</head>
<body>
    <div class="text" align="center">
        <div class="head1">OOPS!</div>
        <div class="head2">It seems like a connection error with the CoinGecko API occurred. Please try again later.</div>
        <a href="/dashboard">
            <button>Try Again</button>
        </a>
    </div>
</body>
</html>