<!DOCTYPE html>
<html>
<head>
    <title>MVW - Dashboard</title>
</head>
<body>
    {{ config['performance'] }}
    <canvas id="chart"></canvas> 
    <div>
        <button onclick="configure_dashboard(1)">1W</button>
        <button onclick="configure_dashboard(2)">1M</button>
        <button onclick="configure_dashboard(3)">1Y</button>
        <button onclick="configure_dashboard(4)">3Y</button>
        <button onclick="configure_dashboard(5)">5Y</button>
        <button onclick="configure_dashboard(0)">Total</button>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const config = JSON.parse('{{ config | tojson | safe }}');
</script>
<script src="{{ url_for('static', filename='scripts/dashboard.js') }}"></script>
</html>
