<!DOCTYPE html>
<html>
<head>
    <title>MVW - Dashboard</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link href="/static/stylesheets/dashboard.css" rel="stylesheet">
</head>
<body>
    <div class="side_bar">
        <div class="widget">Home</div>
        <div class="widget">Profile</div>
        <div class="widget">Sign Out</div>
    </div>
    <div class="dashboard">
        <div class="total_numbers">
            <label>0.00$</label>&nbsp;
            <label class="negative_performance">0.00%</label>
        </div>
        <div>
            <canvas id="chart"></canvas> 
        </div>
        <div align="center">
            <button class="chart_button" onclick="configure_dashboard(1)">1W</button>
            <button class="chart_button" onclick="configure_dashboard(2)">1M</button>
            <button class="chart_button" onclick="configure_dashboard(3)">1Y</button>
            <button class="chart_button" onclick="configure_dashboard(4)">3Y</button>
            <button class="chart_button" onclick="configure_dashboard(5)">5Y</button>
            <button class="chart_button" onclick="configure_dashboard(0)">MAX</button>
        </div>
        <div align="center">
            <a href="/add_asset">
                <div class="add">+</div>
            </a>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='scripts/init.js') }}"></script>
</html>